<br>
<h1 style="text-align: center;">Relação de Vencedores dos Pregões</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">No Empresa</th>
      <th scope="col">No Pregão</th>
    </tr>
  </thead>
  <tbody id="companies_biddingsBody">
		{{#each companies_biddings}}
            <tr id="row:{{this.idEmpresa}}">
                <th scope="row">{{this.idEmpresa}}</th>
                <td>{{this.numPregao}}</td>
			</tr>
		{{/each }}
  </tbody>
</table>