<br>
<h1 style="text-align: center;">Telefones dos Supervisores</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">No Supervisor</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
  <tbody id="companies_phonesBody">
		{{#each supervisors_phones}}
				<tr id="row:{{this.idSupervisor}}">
				<th scope="row">{{this.idSupervisor}}</th>
				<td>{{this.telefone}}</td>
			</tr>
		{{/each }}
  </tbody>
</table>